
<%- include('./layouts/header.ejs') %>

  <main class="site-main">
    <%- include('./layouts/homePage/HeroBanner.ejs') %>
    <%- include('./layouts/homePage/HeroCarousel.ejs') %>
    <%- include('./layouts/homePage/TrendingProduct.ejs') %>
    <%- include('./layouts/homePage/OfferSection.ejs') %>
    <%- include('./layouts/homePage/BestSelling.ejs') %>
    <%- include('./layouts/homePage/BlogSection.ejs') %>
    <%- include('./layouts/homePage/SubscribeSection.ejs') %>
  </main>
  
  <%- include('./layouts/footer.ejs') %>
